* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  align-content: center;
  background-color: rgba(70, 10, 233, 0.753);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", Arial,
    Helvetica, sans-serif;
}

.main_login {
  margin: auto;
  max-width: 500px;
  margin-top: 5%;
  width: fit-content;
  padding: 10px;
}

#head_login {
  padding-bottom: 25px;
  font-size: 20px;
}

.user_pass {
 width: 100%;
 margin: 10px 0 20px;
 padding: 10px;
 border-radius: 5px;
 border-color: #3a232396;
 background-color: rgb(236, 233, 240);
}

a:link {
  text-decoration: none;
}

a:visited {
  color: #0404fa;
}

.forgot{
  padding-left: 65px;
}

.form_section {
  font-size: 17px;
}

.toggle_signin {
  width: 300px;
  margin: 35% auto 5%;
  position: relative;
  box-shadow: 0 0 20px 9px #0808082d;
  border-radius: 8px;
  padding: 10px 50px;
  cursor: pointer;
  /* background-color: #fff; */
  border: 0;
  outline: none;
  position: relative;
  font-weight: bolder;
}

.toggle_signin:hover {
  background: hsla(272, 78%, 61%, 0.829);
  background-position: initial;
}
